<!-- <div class="dashboard-container">

  

  <div class="content">
    <div class="dashboard-title">Admin Dashboard</div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3">
          <h5>Total Requests</h5>
          <p class="text-primary fw-bold fs-4">124</p>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3">
          <h5>Total Users</h5>
          <p class="text-success fw-bold fs-4">540</p>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3">
          <h5>Pending Verifications</h5>
          <p class="text-danger fw-bold fs-4">12</p>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="dashboard-container">
  <div class="content">
    
    <div class="dashboard-title">Admin Dashboard</div>

    <div class="row">

      <div class="col-md-4 mb-3">
        <div class="dashboard-card card-requests">
          <h5>Total Requests</h5>
          <p>124</p>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="dashboard-card card-users">
          <h5>Total Users</h5>
          <p>540</p>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="dashboard-card card-verifications">
          <h5>Pending Verifications</h5>
          <p>12</p>
        </div>
      </div>

    </div>
  </div>
</div>
