/* .dashboard-container {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 30px;
  width: 100%;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

body {
  background: #f5f6fa;
} */




.content {
  margin-left: 50px;
  padding: 30px;
  width: 75%;
  color: white;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
/* 
.card h5,
.card p {
  color: white !important;
} */


/* Equal card size, centered text */
.dashboard-card {
  height: 110px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 10px; 
  color: white;
}

/* Colors */
.card-requests {
  background: #0d6efd; /* Blue */
}

.card-users {
  background: #198754; /* Green */
}

.card-verifications {
  background: #f1c40f;  /* Bright Yellow */
}

/* Hover Effect */
.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
}

/* Fix card text */
.dashboard-card h5 {
  margin-bottom: 10px;
  font-size: 20px;
}

.dashboard-card p {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}